* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.menuBar__options {
    height: 100%;
}

.menuBar__options-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menuBar__options a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.menuBar__options a:hover, .menuBar__options a:focus {
    color: gray;
}

.menuBar__options .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: none;
}

.header__menu-hamburger_left {
    display: none;
}

.mainStyle__header {
    background: #eeeeee;
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid #fca311;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainStyle__container {
    height: 100%;
    display: flex;
    background-color: white;
    width: 100%;
}

.column-left {
    background-color: #eeeeee;
}

.column-right__profile {
    background-color: #eeeeee;
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.column-left__menuBar {
    padding: 40px;
}

.mainStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuBar__welcomeText_red {
    color: red;
    font-size: 18px;
    text-align: center;
}

.menuBar__welcomeText_black {
    color: black;
    font-size: 18px;
    text-align: center;
}

.header__title_middle {
    font-size: 24px;
    color: black;
}

.header__title_logout {
    font-size: 24px;
    color: black;
}

.column-right__content {
    padding: 40px;
}

.menuBar__options-content_visible {
    visibility: hidden;
}

.input-form__profile {
    width: 526px;
}

.input-form__title-profile_big {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Style the header */

.header {
    background-color: #fca311;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */

.header:after {
    content: "";
    display: flex;
    clear: both;
}

/* Style the input */

input {
    margin: 0;
    float: left;
}

/* --propertiesPage2.css */

body {
    background-color: #fafafa;
    color: black;
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: black;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158, 158, 158, .2);
}

button:active {
    background-color: rgba(158, 158, 158, .4);
}

input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
}

/* Todo Item */

.todo-item {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-item .title, .todo-item .textfield {
    margin-right: auto;
}

.todo-item.editing .title {
    display: none;
}

.todo-item .textfield {
    display: none;
}

.todo-item.editing .textfield {
    display: block;
}

.todo-item button {
    opacity: 1;
}

/* Todo form */

#todo-form {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

#todo-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

#todo-form input:focus {
    border: 1px solid #f0db4f;
}

#todo-form button {
    margin-left: 10px;
}

@media screen and (max-width:575px) {
    .mainStyle__container {
        display: flex;
        flex-direction: column;
    }
    .mainStyle__header {
        display: flex;
        flex-direction: row;
    }
    .column-left {
        align-items: center;
        border-bottom: 2px solid black;
        overflow-y: hidden;
    }
    .column-left__menuBar {
        padding: 0;
    }
    .header__title_middle {
        font-size: 24px;
        display: block;
        text-align: center;
        flex: 1;
    }
    .header__title_logout {
        float: right;
        display: none;
    }
    .menuBar__options {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .menuBar__options-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .menuBar__options a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: lightgrey;
        display: block;
        transition: 0.3s;
    }
    .menuBar__options a:hover, .menuBar__options a:focus {
        color: #f1f1f1;
    }
    .menuBar__options .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        display: block;
    }
    .header__menu-hamburger_left {
        display: block;
        font-size: 20px;
        cursor: pointer
    }
    .menuBar__options-content_visible {
        visibility: visible;
    }
    .column-right__profile {
        background-color: #eeeeee;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 50px 60px;
        margin: 0;
    }
    .column-right__content {
        padding: 0;
    }
    .input-form__title-profile_big {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    /* -- propertiesPage2.css -- */
    .input-form__profile {
        width: 100%;
    }
    input {
        width: 75%;
    }
    .column-right__profile {
        padding: 50px 50px;
    }
}