body{
  display: flex;
  background-color: #eeeeee;
}
.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 226px;
  background: white;
  padding: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), inset 0 -5px 0 #fca311, inset 0 5px 0 #fca311;
  border-top: 5px solid #fca311;
  border-bottom: 5px solid #fca311;
}
.login{
  display: block;
}
.login .heading {
  font-size: 22px;
  color: #14213d;
  font-family: "Arial MT", "Times New Roman", serif;
  font-weight: 400;
}
.field {
  margin-top: 10px;
}
.field .label {
  width: 50px;
  height: 14px;
  display: block;
  font-size: 14px;
  color: #14213d;
  font-weight: 400;
  font-family: "Arial MT", "Times New Roman", serif;
}
.field .input {
  width: 100%;
  height: 23px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #14213d;
}
.login .button {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #fca311;
  background-color: #fca311;
  background-image: linear-gradient(-245deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}
.link {
  color: black;  
}
.register {
  text-decoration: underline;
}